* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.header{
    background-color: black;
    color:white;
    padding:10px 0px;
    text-align:center;
    margin:10px;
}
.header__nav >li{
    display:inline;
    color:grey;
}
.header__nav >li:hover{
    cursor:pointer;
    color:white;
    text-decoration: underline;
}
img{
    width:200px;
    height:250px;
}
.main-container{
    text-align: center;
    padding:20px 0px;
}
.main-container__items{
    width:200px;
    text-align: center;
    border:2px solid black;
    margin:0px 5px;
    display:inline-block;
}
.main-container__items > p{
    padding:0px 4px;
}
.main-container__items:hover{
    background-color: black;
    color:white;
}
.main-container__button{
    background-color: black;
    color:white;
    padding:10px 15px;
    border:none;
    margin:5px 0px;
    border-radius: 3px;
    cursor:pointer;
}
.main-container__button:hover{
    background:white;
    color:black;
}
table{
    display:inline-block;
}
.footer{
    background-color: black;
    color:white;
    padding:10px;
    text-align: center;
    margin:10px;
}
.footer__title{
    margin-bottom: 10px;
}
input{
    padding:5px;
    border-radius:5px;
}
input:focus{
    border:none;
    outline:2px solid green;
    caret-color:red;
}
.send-button{
    margin-top:10px;
    background-color: yellow;
    color:black;
    padding:7px 10px;
    border:none;
    border-radius:5px;
    width:350px;
    cursor:pointer;
    font-weight:bold;
}

